<div class="row">
    <aside class="col-md-3">
        <h2>Coming Soon!</h2>
        <p>Many interesting new features that will be coming soon!</p>
    </aside>
    <section class="main col-md-9">
        <article>
            <h2>About</h2>
            <p>Hello, my name is Jenny He and I am currently a second-year computer programming and</p>
            <p>analysis student. My hobbies involve listening to kpop music and creating clay charms.</p>
        </article>
    </section>
</div>
